<!-- STYCKY PORTLET CONTROL | See structure => /metronic/sticky-form-actions -->
<m-portlet [options]="{headLarge: true}" [loading$]="dataSource.loading$">
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->

	<!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				<span translate="ECOMMERCE.CUSTOMERS.CUSTOMERS_LIST">Lista de Cliente</span>
			</h3>
		</div>
		<!-- For localisations we use @ngx-translate | See off. documentations => https://github.com/ngx-translate/core -->
		<!-- Localization libraries (en/fr) are here => '../../../.././config/i18n/en.ts|fr.ts' -->
	</ng-container>

	<ng-container mPortletHeadTools>
		<button (click)="addCustomer()" mat-raised-button matTooltip="Crear Cliente" color="primary" type="button">
			<span translate="ECOMMERCE.CUSTOMERS.NEW_CUSTOMER">Nuevo</span>
		</button>
		<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
		<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
	</ng-container>
	<!-- end::Header -->

	<!-- start::Body (attribute: mPortletBody) -->
	<ng-container mPortletBody>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="m-form">
			<!-- start::FILTERS -->
			<div class="m-form__filtration">
				<div class="row align-items-center">

					<div class="col-md-2 m--margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput placeholder="Buscar" (keyup)="applyFilter($event.target.value)" #searchInput placeholder="Buscar">
							<!-- <mat-hint align="start">
								<strong>Search</strong> in all fields</mat-hint> -->
						</mat-form-field>
					</div>

				</div>
			</div>
			<!-- end::FILTERS -->

		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div class="mat-table__wrapper">
			<table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>

				<!-- ID Column -->
				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
					<mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
				</ng-container>

				<!-- Progress Column -->
				<ng-container matColumnDef="nombre">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
					<mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
					<mat-cell *matCellDef="let customer">
						<button mat-icon-button color="primary" matTooltip="Editar Cliente" (click)="editCustomer(customer)"><mat-icon>create</mat-icon></button>&nbsp;
						<button mat-icon-button color="warn" matTooltip="Elimar Cliente" type="button" (click)="deleteById(customer.id)"><mat-icon>delete</mat-icon></button>&nbsp;
						<!-- <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More actions"><mat-icon>more_vert</mat-icon></button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item><mat-icon>dialpad</mat-icon><span>Redial</span></button>
							<button mat-menu-item disabled><mat-icon>voicemail</mat-icon><span>Check voicemail</span></button>
							<button mat-menu-item><mat-icon>notifications_off</mat-icon><span>Disable alerts</span></button>
						</mat-menu> -->
					</mat-cell>
				</ng-container>




				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</table>
			<div class="mat-table__message" *ngIf="(dataSource.data.length == 0)">No hay registros</div><!-- Message for empty data  -->

		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [showFirstLastButtons]="true"></mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</ng-container>
	<!-- end::Body -->

</m-portlet>


